#wrapper-catfolios {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #e9ecef;

	.card-catfolio {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		.img-fluid {
			opacity: 1;

			&:hover {
				opacity: 0.5;
				transition: opacity .2s ease-out;
				-moz-transition: opacity .2s ease-out;
				-webkit-transition: opacity .2s ease-out;
				-o-transition: opacity .2s ease-out;
			}
		}
	}
}
